.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
}

.spinner {
    width: 48px;
    height: 48px;
    display: grid;
    border-radius: 50%;
    -webkit-mask: radial-gradient(farthest-side, #0000 40%, #000 41%);
    mask: radial-gradient(farthest-side, #0000 40%, #000 41%);
    background: linear-gradient(0deg, rgba(99, 102, 241, 0.1) 33%, rgba(99, 102, 241, 1) 100%) center/4px 100%,
        linear-gradient(90deg, rgba(99, 102, 241, 0.25) 33%, rgba(99, 102, 241, 1) 100%) center/100% 4px;
    background-repeat: no-repeat;
    animation: s3 1s infinite steps(12);
}

.spinner::before,
.spinner::after {
    content: "";
    grid-area: 1/1;
    border-radius: 50%;
    background: inherit;
    opacity: 0.915;
    transform: rotate(30deg);
}

.spinner::after {
    opacity: 0.83;
    transform: rotate(60deg);
}

@keyframes s3 {
    100% {
        transform: rotate(1turn)
    }
}

.small {
    transform: scale(0.5);
}

.medium {
    transform: scale(1);
}

.large {
    transform: scale(1.5);
}